{
  "CreateUrlFunction": {
    "FEISTEL_SECRET": "binary like secret",
    "FEISTEL_ROUNDS": "4",
    "DOMAIN_BITS": "36",
    "CODE_BASE": "58",
    "CODE_LENGTH": "6",
    "DATABASE_URL": "postgresql://postgres:postgres@host.docker.internal:5432/shorten_urls?connection_limit=5&pool_timeout=10"
  },
  "RedirectFunction": {
    "ANALYTICS_QUEUE_URL": "http://host.docker.internal:9324/000000000000/analytics",
    "SQS_ENDPOINT": "http://host.docker.internal:9324"
  }
}
